// Variables

$heading-one:24px;
$heading-two:22px;
$heading-three:18px;
$heading-four:16px;
$heading-five:12px;
$heading-six:10px;
$font-name:'lato';
$padding-zero:0px;
$margin-zero:0px;
$white:#fff;
$transition:all 0.5s ease-in-out;
$theme-color:#2bad7e;
$text-shadow:0px 0px 10px rgba(0, 0, 0, 0.45);
$common-padding:70px 0px;